<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>137288861141-7buf78n3r5jdm7ufbfdj0sk5nrn5bmej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXhnXh6FWoIOJgIR_OujwmjlKQUwLSGcw</string>
	<key>GCM_SENDER_ID</key>
	<string>137288861141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikkyboy.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>arsam-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>arsam-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137288861141:ios:e25fd218e056fe06b1295c</string>
</dict>
</plist>